@inherits StrategyBucketItemBase
<div class="max-width: 50%" >
    <MudSelect T="StructureOperation?" Variant="Variant.Outlined" @bind-Value="_structureOperation" Clearable="true" OnClearButtonClick="() => _structureOperation = null" >
        <MudSelectItem T="StructureOperation?" Value="StructureOperation.Delete" ></MudSelectItem>
        <MudSelectItem T="StructureOperation?" Value="StructureOperation.Rename" ></MudSelectItem>
        <MudSelectItem T="StructureOperation?" Value="StructureOperation.MoveAfter" ></MudSelectItem>
        <MudSelectItem T="StructureOperation?" Value="StructureOperation.MoveBefore" ></MudSelectItem>
        <MudSelectItem T="StructureOperation?" Value="StructureOperation.SwapWith" ></MudSelectItem>
    </MudSelect>
</div>
@if (_structureOperation is StructureOperation.MoveAfter or StructureOperation.MoveBefore or StructureOperation.SwapWith)
{
    string val = _structureOperation == StructureOperation.MoveAfter
        ? "After"
        : _structureOperation == StructureOperation.MoveAfter
            ? "Before"
            : "Swap With";
    <ColumnSelect Immediate="true" @bind-ColumnName="@_columnName"  Label="@val"  ></ColumnSelect>
}
else if (_structureOperation is StructureOperation.Rename)
{
    <MudTextField Label="New Name" Variant="Variant.Outlined" @bind-Value="_columnName" Immediate="true"></MudTextField>
}
<MudIconButton Disabled="Disabled()" Icon="@Icons.Material.Filled.Check" Color="Color.Info" OnClick="OnConfirm" ></MudIconButton>

@code {
    [Parameter] public EventCallback OnComplete { get; set; }
    private StructureOperation? _structureOperation = StructureOperation.Delete;
    private string? _columnName;

    private bool Disabled()
    {
        return _structureOperation switch
        {
            StructureOperation.SwapWith or StructureOperation.Rename or StructureOperation.MoveBefore or StructureOperation.MoveAfter => string.IsNullOrWhiteSpace(_columnName),
            StructureOperation.Delete => false,
            null => true,
            _ => throw new ArgumentOutOfRangeException()
        };
    }
    private enum StructureOperation
    {
        Delete,
        Rename,
        MoveAfter,
        MoveBefore,
        SwapWith
    }

    private async Task OnConfirm()
    {
        if (Disabled() || CsvProcessor?.Runner?.CurrentCsv == null) return;
        var makeBusy = CsvProcessor.Runner.CurrentCsv.RowCount() > 100000;
        IReversibleEdit edit = _structureOperation switch
        {
            StructureOperation.Delete => new RemoveColumnEdit(StrategyBucket.ColumnName)
            {
                MakeBusy = makeBusy
            },
            StructureOperation.Rename => new RenameColumnEdit(StrategyBucket.ColumnName, _columnName!)
            {
                MakeBusy = makeBusy
            },
            StructureOperation.MoveAfter => new MoveColumnEdit(StrategyBucket.ColumnName, CsvProcessor.Runner.CurrentCsv.ColumnIndex(_columnName!))
            {
                MakeBusy = makeBusy
            },
            StructureOperation.MoveBefore => new MoveColumnEdit(StrategyBucket.ColumnName, CsvProcessor.Runner.CurrentCsv.ColumnIndex(_columnName!) - 1)
            {
                MakeBusy = makeBusy
            },
            StructureOperation.SwapWith => new SwapColumnEdit(StrategyBucket.ColumnName, _columnName!)
            {
                MakeBusy = makeBusy
            },
            _ => throw new ArgumentOutOfRangeException()
        };
        await CsvProcessor.AddReversibleEdit(edit);
        await OnComplete.InvokeAsync();
    }

}
