@if (CurrentState != null && ProcessingOptions != null)
{
    <div style="display: flex; flex-direction: row;">
        @if (IsIndexValid(_currentIndex - 1))
        {
            <MudButton OnClick="GoBackStep" Variant="Variant.Filled" Color="Color.Secondary">Go Back Step</MudButton>
        }
        @if (IsIndexValid(_currentIndex + 1))
        {
            <MudButton OnClick="GoBackStep" Variant="Variant.Filled" Color="Color.Secondary">Go Forward Step</MudButton>
        }
        <MudText Typo="Typo.h5">Current Step: @_cachedStates.Count</MudText>
    </div>
    <CsvProcessingTable ProcessingOptions="ProcessingOptions" Stepper="this" EasyCsv="CurrentState"/>
}