@namespace EasyCsv.Components

@if (CurrentState != null && ProcessingOptions != null)
{
    <MudText Typo="Typo.h5">Current Step: @(_currentIndex + 1)</MudText>
    <br />
    <div style="display: flex; gap: 20px; flex-direction: row;">
        @if (IsIndexValid(_currentIndex - 1))
        {
            <MudButton OnClick="GoBackStep" Variant="Variant.Filled" Color="Color.Secondary">Go Back Step</MudButton>
        }
        @if (IsIndexValid(_currentIndex + 1))
        {
            <MudButton OnClick="GoForwardStep" Variant="Variant.Filled" Color="Color.Secondary">Go Forward Step</MudButton>
        }
    </div>
    <br />
    <br/>
    <CsvProcessingTable ProcessingOptions="ProcessingOptions" Stepper="this" EasyCsv="CurrentState"/>
}